<section class="requeriments-layout">
  <h2>Requerimientos</h2>
  <nav class="requeriments-nav">

    <a routerLink="create" routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Crear
    </a>

    <a routerLink="my-requeriments" routerLinkActive="active">
      Mis requerimientos
    </a>

    @if (isAgent || isSuperAdmin) {
      <a routerLink="area-requirements" routerLinkActive="active">
        Requerimientos del Área
      </a>
    }

    @if (isSuperAdmin) {
      <a routerLink="reports" routerLinkActive="active">
        Reportes
      </a>
    }

    <a routerLink="agents" routerLinkActive="active">
      Agentes
    </a>

  </nav>

  <div class="requeriments-content">
    <router-outlet />
  </div>
</section>