<section class="pending-courses">

  <h2>Cursos Pendientes</h2>

  @if (pendingCourses.length > 0) {

    <div class="pending-layout">

      <div class="course-list">
        @for (course of pendingCourses; track course.id) {
          <div
            class="course-card"
            (click)="selectCourse(course)"
            [class.active]="course === selectedCourse"
            [class.locked]="academyState.isCourseLockedById(course.id)"
          >
            <h4>{{ course.title }}</h4>
            <p>{{ course.description }}</p>

            @if (!academyState.isCourseLockedById(course.id)) {
              <span class="badge warning">Evaluación pendiente</span>
            } @else {
              <span class="badge close">Completa el curso anterior</span>
            }
          </div>
        }
      </div>

      @if (selectedCourse) {
        <div class="course-detail">
          <h4>{{ selectedCourse.title }}</h4>

          <div class="video-wrapper">
            <iframe
              [src]="selectedCourse.videoUrl | safeUrl"
              allowfullscreen>
            </iframe>
          </div>

          @if (!selectedCourse.examPassed) {
            <div class="course-actions">

              @if (!selectedCourse.isEnrolled) {
                <button class="btn" (click)="enrollSelectedCourse()">
                  Inscribirse al curso
                </button>
              }

              @if (selectedCourse.isEnrolled) {
                <a class="exam-btn" [href]="examUrl" target="_blank">
                  Presentar evaluación
                </a>
              }

            </div>
          }
        </div>
      }

    </div>
  }

</section>
