<div class="admin-layout">

  @if (menuOpen) {
    <div class="admin-overlay" (click)="toggleMenu()"></div>
  }

  <aside class="admin-sidebar" [class.open]="menuOpen">
    <div class="admin-brand">
      <img src="/assets/images/MoleculaYLetra.png" class="admin-logo">
      <span>Administrador</span>
    </div>

    <nav class="admin-menu">

      @for (section of sections; track section.key) {

        <div
          class="admin-section"
          (click)="toggleSection(section.key)"
        >
          <div class="section-title">
            <mat-icon>{{ section.icon }}</mat-icon>
            <span>{{ section.label }}</span>
          </div>

          <mat-icon class="chevron">
            {{ openSection === section.key ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </div>

        @if (openSection === section.key) {
          <div class="admin-submenu">
            @for (item of section.children; track item.route) {
                <a
                  [routerLink]="item.route"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </a>
            }
          </div>
        }
      }
</nav>

  </aside>

  <main class="admin-content">
    <div class="admin-mobile-header">
      <button class="menu-btn" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Administrador</span>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
