<div class="form-container">

  <div class="form-header">
    <button class="btn-secondary" routerLink="../">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h4>
      {{ isEditMode ? 'Editar agente' : 'Asignar agente al área' }}
    </h4>
  </div>

  @if (loading) {
    <p class="loading">Cargando información...</p>
  }

  @if (!loading) {

    <form [formGroup]="form" (ngSubmit)="save()" class="form-card">

      <div class="form-group">
        <label>Usuario</label>

        <mat-form-field appearance="outline" class="full-width">
          <input
            type="text"
            matInput
            placeholder="Buscar usuario..."
            [matAutocomplete]="auto"
            formControlName="userId"
            [disabled]="isEditMode"
          />

          <mat-autocomplete
            #auto="matAutocomplete"
            class="user-autocomplete-panel"
            (optionSelected)="onUserSelected($event)"
          >
            @for (user of filteredUsers; track user.id) {
              <mat-option [value]="user" class="user-option-item">
              <div class="user-option-content">
                <div class="user-main">
                  {{ user.firstName }} {{ user.lastName }}
                </div>
                <div class="user-email">
                  {{ user.email }}
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        @if (form.get('userId')?.invalid && form.get('userId')?.touched) {
          <span class="error">Debe seleccionar un usuario</span>
        }
      </div>

      <div class="form-group checkbox-group">
        <label class="checkbox-container">
          <input type="checkbox" formControlName="isLead" />
          <span class="checkmark"></span>
          Asignar como líder del área
        </label>
      </div>

      <div class="form-group checkbox-group">
        <label class="checkbox-container">
          <input type="checkbox" formControlName="active" />
          <span class="checkmark"></span>
          Activo
        </label>
      </div>

      <div class="form-actions">

        <button
          type="button"
          class="btn-secondary"
          routerLink="../"
        >
          Cancelar
        </button>

        <button
          type="submit"
          class="btn-primary"
          [disabled]="form.invalid || saving"
        >
          {{
            saving
              ? (isEditMode ? 'Actualizando...' : 'Guardando...')
              : (isEditMode ? 'Actualizar' : 'Guardar')
          }}
        </button>

      </div>

    </form>

  }

</div>
