<div class="main-layout">
  <app-navbar></app-navbar>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
    <footer class="footer">
    <div class="footer-container">
      <div class="footer-brand">
        <img src="/assets/images/MoleculaYLetra.png" alt="Lico Logo" />
        <p>Tradición y Excelencia</p>
      </div>
      <div class="footer-nav">
        <h3>Navegación rápida</h3>
        <ul>
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/documents">Documentos corporativos</a></li>
          <li><a routerLink="/requeriments">Requerimientos</a></li>
          <li><a routerLink="/profile">Perfil</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3>Contacto / Soporte</h3>
        <ul>
          <li>sistemas@licodistribuciones.com</li>
          <li>+57 322 339 2856</li>
          <li>Lun-Vie 7:30 a 17:30</li>
          <li><a href="#">Centro de ayuda</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <img src="/assets/images/MoleculaYLetra.png" alt="Mini logo" />
      </div>
      <div class="footer-bottom-right">
        <p>© 202 Licodistribuciones. Todos los derechos reservados.</p>
        <p>
          <a href="#">Política de privacidad</a> |
          <span>Versión Intranet v1.1.0</span>
        </p>
      </div>
    </div>
  </footer>
</div>
