<section class="create-requeriment">

  <h2>Crear requerimiento</h2>

  <div class="form-section">
    <span>Solicitante</span>

    <div class="user-card">
      <strong>Usuario Mock</strong>
      <span>usuario@empresa.com</span>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-section">

      <span>Clasificación</span>

      <div class="form-row">

        <div class="form-group">
          <label>Área</label>
          <select
            formControlName="area"
            (change)="onAreaChange($any($event.target).value)">
            <option value="">Seleccione un área</option>

            @for (area of areas; track area) {
              <option [value]="area">{{ area }}</option>
            }
          </select>
        </div>

        <div class="form-group">
          <label>Tipo</label>
          <select
            formControlName="type"
            [disabled]="requestTypes.length === 0">
            <option value="">Seleccione un tipo</option>

            @for (type of requestTypes; track type) {
              <option [value]="type">{{ type }}</option>
            }
          </select>
        </div>

        <div class="form-group">
          <label>Prioridad</label>
          <select formControlName="priority">
            <option value="">Seleccione prioridad</option>
            <option value="BAJA">Baja</option>
            <option value="MEDIA">Media</option>
            <option value="ALTA">Alta</option>
            <option value="CRITICA">Crítica</option>
          </select>
        </div>

      </div>

    </div>

    <div class="form-section">

      <span>Detalle</span>

      <div class="form-group">
        <label>Descripción</label>
        <textarea
          rows="4"
          formControlName="description"
          placeholder="Describe el requerimiento...">
        </textarea>
      </div>

      <div class="file-upload">
  <label class="file-label">
    <input
      type="file"
      multiple
      (change)="onFileSelected($event)"
    />
        <span class="file-button">
          📎 Adjuntar archivos
        </span>
      </label>

      @if (attachments.length > 0) {
        <small class="file-info">
          {{ attachments.length }} archivo(s) seleccionados
        </small>
      }
    </div>
    </div>
    <button type="submit">Crear requerimiento</button>
  </form>
</section>
