<header class="navbar-header">
  <div class="logo-container">
    <button class="menu-toggle" (click)="toggleMenu($event)" type="button">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="/assets/images/MoleculaYLetra.png" alt="Logo" class="logo"/>
  </div>

  <div class="user-container" 
       [matMenuTriggerFor]="userMenu"
       (click)="onUserMenuClick($event)">
    <mat-icon>account_circle</mat-icon>
    <span class="user-name">{{ user?.firstName }} {{ user?.lastName }}</span>
    <mat-icon>expand_more</mat-icon>
  </div>

  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item disabled>
      <mat-icon>person</mat-icon>
      {{ user?.email }}
    </button>
    <button mat-menu-item disabled>
      <mat-icon>work</mat-icon>
      {{ user?.position }} | {{ user?.sede }}
    </button>
    <button mat-menu-item disabled>
      <mat-icon>alarm</mat-icon>
      {{ user?.loginTime | date:'shortTime' }}
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>
  </mat-menu>
</header>


@if (isMenuOpen) {
  <div class="menu-overlay" (click)="closeMenu($event)"></div>
}

<nav class="side-menu">
  <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Inicio</a>
  <a routerLink="/documents" routerLinkActive="active" (click)="closeMenu()">Documentos</a>
  <a routerLink="/requeriments" routerLinkActive="active" (click)="closeMenu()">Requerimientos</a>
  <a routerLink="/assets" routerLinkActive="active" (click)="closeMenu()">Activos Fijos</a>
  <a routerLink="/profile" routerLinkActive="active" (click)="closeMenu()">Perfil</a>
  <a routerLink="/profile" routerLinkActive="active" (click)="closeMenu()">Sala de Juntas</a>
  @if (['ADMIN'].includes(role!)) {
    <a
      routerLink="/admin"
      routerLinkActive="active"
      (click)="closeMenu()">
      Administrador
    </a>
    }
</nav>